<!DOCTYPE <html>
    <html lang="en">
        <head>
            <meta charset="UTF-8">
                <title>Home Page</title>
                <link rel="stylesheet" type="text/css" href="css/styles.css">
                </head>
    <body>
        <div class="heading">
        <h1>CodeMonkey</h1>
        </div>
            <form action="/show" method="POST">
                <div class="tabs">
                    <a class="button" href="SignUp.html">SignUp</a>
                    <a class="button" href="Login.html">Login</a>
                     </div>
            </form>
    </body>
</html>