<!DOCTYPE <html>
    <html lang="en" dir="ltr">
        <head>
            <meta charset="UTF-8">
                <title>login</title>
        </head>
    <body>
        <centre>
            <h1>Login to your account<h1>
        </centre>
        <form action="/Login" method="POST">
            Email Id: <input type="email" placeholder="abc@gmail.com" >
            Password: <input type="password" placeholder="Password" >
            <a class="button" href="dashboard.html">Login</a>
            <!--<button type="submit">Login</button>-->
        </form>
    </body>
</html>