<!DOCTYPE <html>
    <html lang="en" dir="ltr">
        <head>
            <meta charset="UTF-8">
                <title>Registration</title>
        </head>
    <body>
        <centre>
            <h1>Create an account<h1>
        </centre>
        <form class="signup" action="/SignUp" method="POST">
            Name: <input type="text" placeholder="Full Name" >
            Email Id: <input type="email" placeholder="abc@gmail.com" >
            Password: <input type="password" placeholder="Password" >
            <button type="submit">SignUp</button>
        </form>
    </body>
</html>