<!--<!DOCTYPE <html>
    <html lang="en" dir="ltr">
        <head>
            <meta charset="UTF-8">
                <title>Registration</title>
        </head>
    <body>
        <centre>
            <h1>Create an account<h1>
        </centre>
        <h1>hre is the value we sent <%= my %></h1>
    </body>
</html>-->